/* All */

html,
body {
  height: 100%;
}

body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  background-color: #0e1129;
  color: #fff;
}

button {
  background-color: #0e76a8;
  color: #fff;
  padding: 0 45px;
  border: 2px solid #2b3566;
  border-radius: 25px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background-color: #2b3566;
  border: solid 2px #0e76a8;
}

/* Footer */

.github {
  font-size: 3rem;
  background-color: #fff;
  border-radius: 222px;
  border: solid 1px #fff;
  color: #000;
  transition: 0.5s;
}

.github:hover {
  background-color: #000;
  border: solid 1px #000;
  color: #fff;
}

.linkedin {
  font-size: 3rem;
  background-color: #fff;
  border-radius: 6px;
  border: solid 1px #fff;
  color: #0e76a8;
  transition: 0.5s;
}

.linkedin:hover {
  background-color: #0e76a8;
  border: solid 1px #0e76a8;
  color: #fff;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  align-items: center;
  text-align: center;
  margin-top: 250px;
  padding: 5%;
  border-top: #2b3566 solid 2px;
  background-color: #222;
}

footer svg {
  margin: 15px;
}

footer p {
  margin: 5px;
  font-weight: bold;
}

/* Nav */

nav {
  text-align: center;
  padding: 15px;
  border-bottom: solid #2b3566 2px;
  margin-bottom: 150px;
  background-color: #222;
}
